# Project-specific files
fit_bot.code-workspace
settings.json

# Virtual environment directory
.venv/

# Python-specific files and directories
__pycache__/
*.pyc

# Dependency management files
poetry.lock
